<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="sql" connectionString="Data Source=192.168.10.9;Initial Catalog=DCF19;User ID=sa;Password=!888dious999;Max Pool Size=200" />
  </connectionStrings>
  
</configuration>